# {{name}}

## Description

{{ description }}

## Fields

{% for slot in slots %}
**{{ slot.name }}** : {{ slot.description }}
{% if 'Enum' in slot.data_type.range  %}**data type** : Controlled Vocabulary{% else %}**data type** : {{ slot.data_type.range }}{% endif %}
**required** : {{ slot.required }}
{% endfor %}
