# {{name}}

## Description
{{ description }}

## Fields
{% for slot in slots %}
### ***{{ slot.name }}***
**description** : {{ slot.description }}<br>
{% if slot.requirement == "required" %}
**requirement**: <span style="color: red;">required</span>
{% elif slot.requirement == "recommended" %}
**requirement**: <span style="color: blue;">recommended</span>
{% else %}
**requirement**: <span style="color: green;">optional</span>
{% endif %}

{% if 'Enum' in slot.data_type.range  %}
**data type** : Controlled Vocabulary <br>
{% else %}
**data type** : {{ slot.data_type.range }} <br>
{% endif %}
{% if slot.data_type.enum %}

/// details | Permissible Values
| Permissible Values | Description |
| --- | --- |
{% for val in slot.data_type.enum.permissible_values%}
| `{{ val.name }}` | `{{ val.description }}` |
{% endfor %}
///

{% endif %}
{% endfor %}
