# {{name}}

## Description
{{ description }}

$\color{green}{test}$

## Fields
{% for slot in slots %}
### ***{{ slot.name }}***
**description** : {{ slot.description }}<br>
{% if slot.requirement == "required" %}
**requirement**:  $\color{red}{required}$
{% elif slot.requirement == "recommended" %}
**requirement**:  $\color{blue}{recommended}$
{% else %}
**requirement**:  $\color{green}{optional}$
{% endif %}
{% if 'Enum' in slot.data_type.range  %}
**data type** : Controlled Vocabulary <br>
{% else %}
**data type** : {{ slot.data_type.range }} <br>
{% endif %}
{% if slot.data_type.enum %}

/// details | Permissible Values
| Permissible Values | Description |
| --- | --- |
{% for val in slot.data_type.enum.permissible_values%}
| `{{ val.name }}` | `{{ val.description }}` |
{% endfor %}
///

{% endif %}
{% endfor %}
