# {{name}}

## Description
{{ description }}

## Fields
{% for slot in slots %}
### ***{{ slot.name }}***
**description** : {{ slot.description }}<br>
**required** : {{ slot.required }}<br>
{% if 'Enum' in slot.data_type.range  %}
**data type** : Controlled Vocabulary <br>
{% else %}
**data type** : {{ slot.data_type.range }} <br>
{% endif %}
{% if slot.data_type.enum %}

/// details | Permissible Values
| Permissible Values | Description |
| --- | --- |
{% for val in slot.data_type.enum.permissible_values%}
| `{{ val.name }}` | `{{ val.description }}` |
{% endfor %}
///

{% endif %}
{% endfor %}
