# Submission

{% for workbook in workbooks %}
## {{ workbook.file_name }}<br>

Submission components:
----------------------

{% for sheet in workbook.worksheets %}

{{ sheet }} worksheet:

* [https://ghga-de.github.io/docs/metadata/worksheets/{{ sheet }}.md](https://ghga-de.github.io/docs/metadata/worksheets/{{ sheet }}.md)<br>

{% endfor %}

{% endfor %}
